RewriteEngine On
#RewriteRule ^([^/\.]+)/([^/\.]+)/?$ original.php?role=$1&user=$2
#RewriteRule ^([^/\.]+)/?$ original.php?role=admin&user=rasmus
RewriteRule ^([^/\.]+)/?$ original.php?role=admin&user=rasmus